PORT=5000
MYSQL_URL=jdbc:mysql://127.0.0.1:3307/ivyts_1997?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
MYSQL_USERNAME=root
MYSQL_PASSWORD=root
CLIENT_URL=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost
JWT_ACCESS_SECRET=replace-me1
JWT_REFRESH_SECRET=replace-me
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_ID=
