PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/ivyts-1997
CLIENT_URL=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost
JWT_ACCESS_SECRET=replace-me1
JWT_REFRESH_SECRET=replace-me
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
